.common-assessment-header {
    font-size: 1.2vw;
    margin: 0.7vw 0;
    color: #000;
    font-family: Graphik;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
}

.btn-grp {
    flex-wrap: nowrap !important;
    width: 90%;
   
}
.btn-begin .btn-desc {
    font-style: italic;
}
.implementation-proceed-btn .selected-options-wrapper {
    width: fit-content;
    gap: 1vw
}

.implementation-approach-wrapper .button-group .btn-assessment {
    cursor: default;
}