.products-container{
    display: flex;
    gap: 15px;
    width: 100%;
    /* flex-direction: row; */
    flex-wrap: wrap;
    overflow: hidden;
}
.product{
    border: 1px solid green;
    height: 300px;
    flex: 1 1 calc(33.3% - 15px);
}
.product:hover{
    box-shadow: 0 4px 2px #bebebe;
}
.product-image{
    height: 250px;
}
.product-image img{
    width: 30%;
    margin: 0 auto;
    display: block;
}
.product-details h2{
    text-align: center;
}