/* questionaair css */
/* Style the radio circle */
.questionair-container input[type="radio"] {
    accent-color: #7215BE;
    /* Works in modern browsers like Chrome, Edge, Firefox */
}

.questionair-container {
    height: 80vh;
    overflow: auto;
}



.questionair-container::-webkit-scrollbar {
    width: 4px;
}

.questionair-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.questionair-container::-webkit-scrollbar-thumb {
  background: #d7d7d7;
    border-radius: 10px;
    border: 2px solid transparent;
}

.questionair-container::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
    /* Scroll thumb on hover */
}

.questionair-container .custom-dropdown {
    margin-bottom: 0.8vw;
    z-index: unset;
}

.questionair-container label.dropdown-label {
    font-size: 1vw;
    font-family: Graphik;
    font-weight: 400;
    line-height: 1.3;
}

.questionair-container .dropdown-header img.arrow-icon {
    width: 0.8vw;
}

.questionair-container h3 {
    margin: 1% 0 2% 0 !important;
    font-size: 1.1vw !important;
}

.questionair-container .custom-dropdown .dropdown-list .dropdown-item {
    padding: 0.3vw 1vw;
}

.questionair-container .questionair-blocks p,
.questionair-container .questionair-blocks label,
.questionair-container .questionair-blocks input {
    font-size: 1vw;
    font-family: Graphik;
    font-weight: 400;
    line-height: 1.3;
    margin: 2% 0 1% 0;
}

.questionair-container .questionair-blocks label {
    margin: 1% 0;
    display: flex;
    align-items: center;
    gap: 0.2vw;
}

.questionair-container .questionair-blocks .input-label {
    margin: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2vw;
}

.questionair-container .questionair-blocks input {
    margin: 1% 0 1% 0;
    padding: 0.3vw 0.5vw;
    width: 21vw;
    border-radius: 4px;
    border: 1px solid #cccccc;

}

.questionair-container .questionair-blocks label input {
    margin: 0;
    width: auto;
}

.questionair-container .custom-dropdown .dropdown-header span {
    font-size: 0.9vw;

}

.questionair-container .questionair-blocks {
    display: flex;
    flex-direction: column;
}

.questionair-container .radio2-flex-wrapper .radio-columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.questionair-container .radio2-flex-wrapper .left-block,
.questionair-container .radio2-flex-wrapper .right-block {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 48%;
}

.questionair-container .questionair-blocks.input-block-wrapper {
    margin-left: 1vw;
}

@media all and (display-mode: fullscreen) {
    .questionair-container {
        height: 30vw;
    }
}