*, *::before, *::after {
  box-sizing: border-box;
}
.filters {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin-bottom: 25px;
    flex-direction: column;
}
.color-container{
    display: inline-grid;
    grid-template-columns: repeat(3, 120px);
    gap: 10px;
    padding: 10px;
    border: 1px solid #000;
    background: #7b7a7a;
}
.color-box {
    border: 1px solid #000;
    height: 100px;
    width: 100px;
    color: #000;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.reset-button {
    color: #fff;
    background: #000;
    width: 120px;
    padding: 5px;
}