.draggable-container {
  display: flex;
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.pane {
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}

.left {
  background-color: #d0e8ff;
}

.right {
  background-color: #fcdcdc;
}

.divider {
  width: 2pt;
  background-color: #E5E4FE;
  cursor: col-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.divider-handle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FAFAFA;
    border: 2px solid #E5E4FE;
    border-radius: 999px;
    padding: 1vw 0.3vw;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.divider-handle svg {
    width: 6px;
}

.divider-handle div {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #000;
}
.main-panel {
    height: 89vh;
    overflow-y: auto;
}
.main-panel .graph-container {
    height: 92%;
    overflow-y: auto;
    position: relative;
}
/* .divider span {
  font-size: 12px;
  color: white;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  pointer-events: none;
} */

.output-header {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1vw;
}

.output-header h6 {
  font-family: Graphik;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.3;
  margin: 0;
}

.output-header .confirm-btn {
  position: relative;
  background: #FFF;
  border: none;
  border-radius: 38px;
  font-family: Graphik;
  font-size: 1.02vw;
  font-weight: 400;
  color: #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  z-index: 1;
  overflow: hidden;
  padding: 0 !important;
  width: 7vw;
  height: 2vw;
}

.upload-file-frame .output-header .confirm-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0.1vw;
  /* border thickness */
  border-radius: 38px;
  background: linear-gradient(90deg, #7215BE 45.48%, #68CEDB 92.84%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}