.left-pane.shrinked {
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding: 0.7vw 0.7vw 0 0.7vw;
  position: relative;
  border-radius: 24px 0 0 24px !important;
}
.right-pane{
  vertical-align: top;
  width: 37%;
  margin: 0 auto;
  padding: 1vw;
  border-radius: 0 24px 24px 0;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
  transition: width 0.3s ease;
  overflow: hidden;
}
/* .right-pane.fullscreen {
  width: 100% !important;
  flex-grow: 1;
  max-width: 100%;
}
.right-pane.resizable {
  flex-grow: 0;
  max-width: unset;
} */
.file-viewer-panel {
  display: inline-block;
  vertical-align: top;
  width: 34%;
  margin: 0 auto;
  padding: 1vw;
  border-radius: 0 24px 24px 0;
  background: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, .1);
  margin: 0 auto;
  transition: width 0.3s ease;
  overflow: hidden;
}
.left-pane.hide-left {
  width: 0% !important;
  overflow: hidden;
}

.right-pane.full-width {
  width: 100% !important;
}

.divider.hidden {
  display: none !important;
}

.divider {
  cursor: ew-resize;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}

.divider:after {
  content: '';
  position: absolute;
  width: 1vw;
  height: 100%;
  z-index: 0;
}

.divider:before {
  content: '';
  position: absolute;
  width: 1pt;
  height: 100%;
  background: #E5E4FE;
}

.outer-wrapper {
  height: 90vh;
  display: flex;
  padding: 0 2vw;
  width: 95%;
  margin: 0 auto;
}

.divider-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FAFAFA;
  border: 1pt solid #E5E4FE;
  border-radius: 999px;
  padding: 1vw 0.3vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: ew-resize;
}

.divider-handle svg {
  width: 6px;
}

.divider-handle div {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: #000;
}

.react-scroll-to-bottom--css-ukkkd-1tj0vk3 {
  opacity: 0 !important;
}

.react-scroll-to-bottom--css-ukkkd-1n7m0yu {
  height: 70vh;
  overflow: auto;
}

.react-scroll-to-bottom--css-ukkkd-1n7m0yu::-webkit-scrollbar {
  width: 8px;
}

.react-scroll-to-bottom--css-ukkkd-1n7m0yu::-webkit-scrollbar-track {
  border-radius: 10px;
}

.react-scroll-to-bottom--css-ukkkd-1n7m0yu::-webkit-scrollbar-thumb {
  background: #eee6ff;
  border-radius: 10px;
  border: 2px solid transparent;
}

.sap-agent-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding: 1vw 0vw 1vw 0.2vw;
  scroll-behavior: smooth;
  height: 70vh;
  overflow: auto;
}

.sap-agent-container .sap-agent-wrapper {
  display: flex;
  gap: 1vw;
  padding: 2vw 0 0.8vw 0;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

p.dev-assess {
  margin: 0.5vw auto 0;
  color: #7B7B7B;
  font-family: Graphik;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.2;
}

.deliver-agent-wrapper {
  position: relative;
  z-index: 1;
}

.sap-agent-wrapper,
.sap-right-wrapper {
  position: relative;
  z-index: 10;
}

.sap-agent-container .form-select {
  width: fit-content;
  padding: 0.8vw 4vw 0.8vw 1vw;
  border-radius: 6px;
  border: 0.1vw solid #ccc;
  font-size: 1vw;
  line-height: 1.3;
  font-family: Graphik;
  background-color: #fff;
  color: #000;
  appearance: none;
  -moz-appearance: none;
  background-image: url('../../assets/icons/dropdown-arrow.png');
  background-repeat: no-repeat;
  background-position: right 1vw center;
  background-size: 1vw;
  cursor: pointer;
}

.sap-agent-container .form-label,
.sap-agent-container .section-label {
  font-size: 1vw;
  font-weight: 600;
  margin-bottom: 0.5vw;
  font-family: Graphik;
  display: block;
  color: #333;
}

.sap-agent-container .description {
  font-size: 1.2vw;
  font-family: Graphik;
  margin-bottom: 1.2vw;
  width: 85%;
  line-height: 1.3;
  text-align: left;
}

.sap-agent-container .content-header {
  font-size: 1.3vw;
  margin: 0;
  font-family: 'Graphik';
  font-weight: 500;
  line-height: 1.3;
  text-align: left;
}

.sap-agent-container .agent-icon {
  width: 2.5vw;
  margin-bottom: 1.5vw;
}

.sap-agent-container .button-group {
  display: flex;
  gap: 1.2vw;
  flex-wrap: wrap;
  opacity: 1;
}

.btn-wrapper.enabled {
  border-color: #000;
}

.btn-wrapper.enabled .btn-title {
  font-weight: 500;
}

.sap-agent-container .btn-wrapper {
  position: relative;
  background: #FFF;
  border: 0.8px solid #CBC7CF;
  border-radius: 16px;
  padding: 0.5vw 1vw;
  cursor: pointer;
  font-size: 1.05vw;
  font-family: Graphik;
  display: flex;
  flex-direction: column;
  transition: border 0.3s ease;
  z-index: 1;
}

.btn-wrapper.selected:before {
  background: none;
}

.btn-wrapper::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(90deg, #7215BE, #68CEDB);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.button-sell-grp .btn-wrapper:hover::before,
.btn-begin .btn-wrapper:hover::before {
  opacity: 1;
}


.sap-agent-container .deliver-agent-wrapper .button-group .btn-wrapper {
  width: 25%;
}

.btn-title.btn-wrapper.enabled {
  border: 1px solid #000;
}

.sap-agent-container .btn-wrapper.selected {
  border: 1px solid #000;
}


.sap-agent-container .btn-assessment:hover,
.btn-wrapper.brownfield-hover.selected,
.btn-wrapper.btn-assessment.btn-develop.selected {
  border: 1px solid #E5CDFF;
  background: #FBF6FF;
}

.sap-agent-container .btn-title {
  font-weight: 400;
  font-size: 1.2vw;
  font-family: 'Graphik';
  margin: 0.4vw 0;
  line-height: 1.3;
  color: #000;
}

.sap-agent-container .btn-desc {
  font-size: 0.9vw;
  font-family: 'Graphik';
  line-height: 1.3;
  font-weight: 400;
  color: #8D8D8D;
  margin: 0;
}

.sap-agent-container .help-content-wrap .btn-container {
  width: 22%;
}


.sap-agent-container .client-dropdown-wrapper,
.sap-agent-container .help-content-wrap {
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
  opacity: 1;
  position: relative;
  /* z-index: 1; */
}

.sap-agent-container .help-content-wrap,
.sap-agent-container .agent-thankyou-wrapper {
  opacity: 0;
  transform: translateY(1vw);
  position: relative;
  animation: fadeslide 0.5s ease-out forwards;
}


.sap-agent-container .help-content-wrap .btn-wrapper {
  padding: 1vw;
  margin-bottom: 0.7vw;
  transition: height 0.3s ease;
  height: 2.5vw;
}


.agent-flex-wrapper .button-group.btn-begin {
  flex-direction: column;
  margin-top: 1.5vw;
}

.agent-flex-wrapper .button-group.btn-begin .btn-wrapper {
  width: 38%;
  padding: 0.5vw 1vw 1vw 1vw;
  min-height: 4vw;
  /* justify-content: center; */
}

.agent-flex-wrapper .btn-begin .btn-desc {
  font-style: italic;
}

.sap-agent-container .btn-wrapper.selected .btn-desc {
  color: #000;
}

.sap-agent-container .btn-assessment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 3.5vw;
  transition: height 0.3s ease;
  overflow: hidden;
  border-radius: 12px;
}

.button-landscape .btn-assessment-wrapper {
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.button-landscape.button-group {
  display: grid;
  gap: 1.2vw;
  width: 66%;
  margin-top: 1vw;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}

.button-landscape.button-group>*:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.button-landscape.button-group>*:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.button-landscape.button-group>*:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}

.button-landscape.button-group>*:nth-child(4) {
  grid-column: 2;
  grid-row: 1;
}

.button-landscape.button-group>*:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.button-landscape.button-group>*:nth-child(6) {
  grid-column: 3;
  grid-row: 1;
}

.button-landscape.button-group>*:nth-child(7) {
  grid-column: 3;
  grid-row: 2;
}

.btn-assessment .btn-desc {
  display: none;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-assessment:hover .btn-desc {
  transition: all 1s ease;
  display: block;
}

.btn-wrapper.btn-assessment:hover {
  min-height: 6.5vw;
  justify-content: flex-start;
}

.sap-agent-container .form-select:focus {
  outline: none;
  border: 1px solid #000;
}

.sap-agent-container .section-text,
.sap-agent-container .form-label,
.sap-agent-container .note-text,
.sap-agent-container .help-content-wrap h3 {
  font-size: 1.2vw;
  margin: 0.3vw 0 0.7vw 0;
  color: #000;
  font-family: Graphik;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}

.sap-agent-container .form-label {
  font-size: 1.1vw !important;
}

.sap-agent-container .note-text {
  margin: 0.5vw 0 0 0;
}

.help-content p,
.upload-msg,
.shimmer-header {
  font-size: 1.2vw;
  margin: 0 0 0.7vw 0;
  color: #000;
  font-family: Graphik;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
}

.sap-agent-container .agent-flex-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 1vw;
  margin-bottom: 0.8vw;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  opacity: 0;
  width: 16vw;
  background-color: #000;
  color: #fff;
  text-align: left;
  padding: 10px 12px;
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 22vw;
  transition: opacity 0.3s ease;
  font-size: 0.95vw;
  line-height: 1.4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}

.tooltip-box::before {
  content: '';
  position: absolute;
  top: 1vw;
  left: -0.8vw;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 10px solid #000;
}

.btn-wrapper:hover .tooltip-box {
  opacity: 1;
}

/* Shimmer animation */
.shimmer-loader {
  width: 60%;
  padding: 1vw 0;
}

.thank-content-shimmer {
  margin-left: 3.5vw;
  padding: 0vw 0 0 0;
}

.shimmer-line {
  height: 16px;
  background: linear-gradient(to right,
      #f6f7f8 0%,
      #e5e3f1 20%,
      #f6f7f8 40%,
      #e5e3f1 100%);
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 3px;
  margin-bottom: 0.5vw;
}

.shimmer-line.short {
  width: 40%;
}

.shimmer-line.medium {
  width: 60%;
}

.shimmer-line.long {
  width: 90%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}

img.devobjicon {
  width: 2.3vw;
}

.main-panel {
  height: 89vh;
  overflow-y: auto;
}

.main-panel .graph-container {
  /* height: 100%; */
  position: relative;
}

.fullscreen-main {
  width: 0 !important;
  overflow: hidden;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

/* .right-panel-icons{
  gap: 1.5vw;
    display: flex;
    justify-content: end;
    align-items: center; 
} */
.cross-icon {
  width: 1.5vw;
  position: absolute;
  top: 5vw;
  right: 4vw;
  cursor: pointer;
}

.right-panel-icons {
  gap: 1.5vw;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 3vw;
}