
.productlist{
    margin: 50px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 30px !important;
    flex-wrap: wrap !important;
  }
  .product{
      padding: 30px;
      box-shadow: 0px 5px 15px rgba(0,0,0,.2);
      border-radius: 10px;
      min-width: 260px; 
      cursor: pointer;
  }
  .product:hover {
      box-shadow: 0px 10px 30px rgba(0,0,0,.3);
      transition: 300ms ease;
    }
  
  .product h3 {
      margin: 0px;
      color: darkmagenta;
      font-size: 24px;
    }
  .product p {
      line-height: 150%;
    }
  .product img {
      width: 40px;
      border-radius: 99px;
      margin-bottom: 12px;
    }