/* Styles for Navbar */
.header {
    background-color: #1c1c1c;
    color: #fff;
    width: 10%; /* Occupies 20% of the viewport width */
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: sticky;
    top: 0; /* Sticky to the top */
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    margin: 20px 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }
  
  nav ul li a.active {
    font-weight: bold;
    color: aquamarine;
  }
  